.user {
    list-style: none;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .user-name {
    margin: 0;
    font-size: 1.2em;
  }
  
  .user-email,
  .user-username,
  .user-website {
    margin: 5px 0;
  }
  
  .get-more-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
    width: 80px;
    margin: 0 auto 0 auto;
  }
  
  .get-more-button:hover {
    background-color: #0056b3;
  }
  
  .detailed-info {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .detailed-info-title {
    margin-top: 0;
    font-size: 1em;
  }
  
  .company-name,
  .address-info {
    margin: 5px 0;
  }
  
